source/vendor/
*logs*
README.*
node_modules
bower_components
.idea
source/*.bpkg
source/*.gem
source/*.rbc
source/.DS_Store
source/.bpm
source/.bundle
source/.config
source/.github-upload-token
source/.yardoc
source/InstalledFiles
source/_site
source/_yardoc
source/assets
source/assets/bpm_libs.js
source/assets/bpm_styles.css
source/coverage
docs
source/lib/*/tests/all.js
source/lib/*/tests/qunit*
source/lib/bundler/man
source/pkg
source/rdoc
source/spade-boot.js
source/spec/reports
source/test/tmp
source/test/version_tmp
source/test_*.html
source/tests/ember-tests.js
source/tmp
source/tmp*.gem
source/tmp.bpm
source/tmp.spade
source/tests/source
source/node_modules
source/bundle/
*~
source/publish_to_bower/
source/bower_components/
source/npm-debug.log
source/.ember-cli