# Created by .ignore support plugin (hsz.mobi)
### CodeIgniter template
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

# compiled output
source/prod
tmp

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
/npm-debug.log*
/testem.log
node_modules/
bower_components/
README*
.idea
.DS_Store