<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img src="/img/users/1.png" class="profile-user-img img-responsive img-circle" alt="User Image">
                    <h3 class="profile-username text-center">{user:first_name} {user:last_name}</h3>
                    <p class="text-muted text-center">{user:company_position}</p>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sobre {user:first_name}</h3>
                </div>
                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i> Educación</strong>
                    <p class="text-muted" rv-each-education="user:education < :education">
                            <span class="label label-info">{education.date | date}</span><br>
                        {education.career} en {education.facility}
                    </p>
                    <hr>
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Ubicación</strong>
                    <p class="text-muted">{user:city}, {user:country}   </p>
                    <hr>
                    <strong><i class="fa fa-pencil margin-r-5"></i> Habilidades</strong>
                    <p>
                        <span rv-class="getSkillColorClass" rv-each-skill="user:skills < :skills">{skill.name}</span>&nbsp;
                    </p>
                    <hr>
                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Notas</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="settings">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="fistname" class="col-sm-2 control-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="firstname" name="first_name" placeholder="Name" rv-value="model:first_name < :first_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-2 control-label">Apellido</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="latname" name="last_name" placeholder="Lastname" rv-value="model:last_name < :last_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" rv-value="model:email < :email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
