<div class="pull-right hidden-xs">
    Creado con RIBS
</div>
<!-- Default to the left -->
<strong>Copyright &copy; 2016 <a href="http://amigoempresa.com">AmigoEmpresa</a>.</strong> Todos los derechos reservados.