<div class="user-panel">
    <div class="pull-left image">
        <img src="img/users/1.png" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>{model.getFullName}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> En línea</a>
    </div>
</div>
<ul class="sidebar-menu">
    <li class="header">Aplicación</li>
    <li><a href="#recruitment"><i class="fa fa-file-text-o"></i> <span>Reclutamiento</span></a></li>
    <li class="header">Administración</li>
    <li><a href="#users"><i class="fa fa-users"></i> <span>Usuarios</span></a></li>
</ul>